.vscode/*
venv/*
.idea/.gitignore
.idea/modules.xml
.idea/starter.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/app.cpython-37.pyc
__pycache__/models.cpython-37.pyc
migrations/__pycache__/*
migrations/versions/__pycache__/*
